#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: sans-serif;
}

.read-the-docs {
  color: #888;
}
.login-container div input {
  padding: 15px;
  border-radius: 10px;
  border: none;
}
.login-container button {
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border: none;
}
.page div {
  margin-top: 20px;
  display: flex;
}
.details-card {
  background: #e7edd9f0;
  padding: 20px !important;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
